* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100svh;
    width: 100svw;
    font-family: "Inter", sans-serif;
    background-color: rgb(20, 20, 20);
}

main{
    margin: 5% auto;
    margin-bottom: 5px;
    width : 380px;
    height: 630px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;    
    color: white;
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
}

.photo img{
    height: 88px;
    border-radius: 50%;
}

.nom{
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 600;
}

.location{
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: 800;
    color: rgb(224, 255, 126);
}

.description{
    margin-top: 30px;
    font-size: 0.9em;
    font-weight: 400;
}

.containerButton{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 15px;
    gap: 15px;
}

button{
    height : 50px;
    width : 305px;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 0.9em;
    font-weight: 800;
    box-shadow: none;
    color: white;
    border-width: 0px;
}

button:hover{
    background-color: rgb(196, 248, 42);
    color: rgb(51, 51, 51);
}

@media screen and (max-width: 375px) {
    main {
        height : 580px;
        width:  330ox;
        padding : 25px;        
    }
    button{
        height : 45px;
        width : 280px;
    }
    .nom, .location{
        margin-top: 10px;
    }
    .description{
        margin-top: 25px;
    }
    
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
